[Service]
WorkingDirectory=/home/pi/dashboard
ExecStart=/usr/bin/python3 curiosity.py
Restart=always
User=pi

[Unit]
After=network-online.target signalk-server.service

[Install]
WantedBy=multi-user.target
