[Unit]
Description=eInk display connected to a SignalK
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/dashboard/curiosity.py
ExecStop=/usr/bin/pkill -INT curiosity.py
ExecStopPost=/usr/bin/python3 /home/pi/dashboard/clean_display.py

[Install]
WantedBy=multi-user.target
