[Service]
WorkingDirectory=/home/pi/eink-dashboard
ExecStart=/usr/bin/python3 curiosity.py
Restart=always
RestartSec=30
User=pi

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
